<!doctype html>
<html lang="pt-br">
<head>
  <title>Blog {% block tp_title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{% block tp_description %}{% endblock %}">
  <meta name="keywords" content="{% block tp_keywords %}{% endblock %}">
  <meta name="author" content="{% block tp_author %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% block tp_body %}
  {% endblock %}
</body>
</html>
