{% extends "template/app.twig" %}

{% block tp_body %}

  <h1>My Blog</h1>
  <ul style="list-style: none; padding: 0px; margin: 0px">
    <li>
      <h4>Title One</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A ad aspernatur cupiditate, dolor ea eaque illo inventore iusto magnam modi placeat,
        quam tempora! Accusantium consectetur earum incidunt praesentium recusandae veniam!
      </p>
      <a href="/post/1">
        Ver mais ...
      </a>
    </li>
  </ul>

{% endblock %}
